@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

th {
  @apply p-4 bg-primary-brown text-primary-darbar text-lg uppercase;
}
td {
  @apply p-4 bg-white text-sm;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .semi-head {
    @apply uppercase font-semibold text-primary-darbar;
  }
}
